/* Footer.css */

footer {
    background-color: #b31111;
    color: #000000;
    text-align: center;
    padding: 15px;
  }
  
  .social-links {
    margin-top: 10px;
  }
  
  .social-links a {
    color: #000000;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .social-links a:hover {
    text-decoration: underline;
  }
  